.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 240px;
  justify-content: center;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
}
.grp-1,.grp-2,.grp-3,.grp-4,.grp-5{
  display: flex;
}
.grp-5 .zero{
  width: 120px !important;
}
