.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 700px;
}

.result {
  height: 100px;
  background-color: #858694;
  width: 100%;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: right;

  /* padding: 5px; */
}

.texts {
  color: #000;
  font-size: 30px;
  text-align: center;
}

.button {
  display: block;
  background-color: #e0e0e0;
}

button {
  width: 175px;
  height: 100px;
  font-size: 30px;
}

.grp-1,
.grp-2,
.grp-3,
.grp-4,
.grp-5 {
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  margin: 0 10px;
}
